<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<variable
		name="layout"
		value="${longdate}|${level:uppercase=true}|${message}" />
	<variable
		name="layoutInfoWarn"
		value="${longdate}|${level:uppercase=true} |${message}" />
	
	<targets>
		<target 
			name="logconsole"
			xsi:type="Console"
			layout="${layout}" />
		<target
			name="logconsoleInfoWarn"
			xsi:type="Console"
			layout="${layoutInfoWarn}" />
		<target
			name="logfile"
			xsi:type="File"
			fileName="${basedir}/Logs/${machinename}_${shortdate}.log"
			keepFileOpen="false"
			encoding="iso-8859-2" />
	</targets>

	<rules>
		<logger
			name="*"
			maxlevel="Debug"
			writeTo="logconsole" />
		<logger
			name="*"
			minlevel="Info"
			maxlevel="Warn"
			writeTo="logconsoleInfoWarn" />
		<logger
			name="*"
			minlevel="Error"
			writeTo="logconsole" />
		<logger
			name="*"
			minlevel="Trace"
			writeTo="logfile" />
	</rules>
</nlog>